<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>Demo</servlet-name>
        <servlet-class>Demo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Demo</servlet-name>
        <url-pattern>/Demo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CompanySignupServlet</servlet-name>
        <servlet-class>com.servlet.CompanySignupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompanySignupServlet</servlet-name>
        <url-pattern>/CompanySignupServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentSignupServlet</servlet-name>
        <servlet-class>com.servlet.StudentSignupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentSignupServlet</servlet-name>
        <url-pattern>/StudentSignupServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CompanyTeacherSignupServlet</servlet-name>
        <servlet-class>com.servlet.CompanyTeacherSignupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompanyTeacherSignupServlet</servlet-name>
        <url-pattern>/CompanyTeacherSignupServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SchoolTeacherSignupServlet</servlet-name>
        <servlet-class>com.servlet.SchoolTeacherSignupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SchoolTeacherSignupServlet</servlet-name>
        <url-pattern>/SchoolTeacherSignupServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCompanyServlet</servlet-name>
        <servlet-class>com.servlet.GetCompanyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCompanyServlet</servlet-name>
        <url-pattern>/GetCompanyServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetSchoolServlet</servlet-name>
        <servlet-class>com.servlet.GetSchoolServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSchoolServlet</servlet-name>
        <url-pattern>/GetSchoolServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreatePracticeServlet</servlet-name>
        <servlet-class>com.servlet.CreatePracticeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreatePracticeServlet</servlet-name>
        <url-pattern>/CreatePracticeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateTeamServlet</servlet-name>
        <servlet-class>com.servlet.CreateTeamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateTeamServlet</servlet-name>
        <url-pattern>/CreateTeamServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>com.servlet.AddStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateProjectServlet</servlet-name>
        <servlet-class>com.servlet.CreateProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateProjectServlet</servlet-name>
        <url-pattern>/CreateProjectServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetStudentInformationServlet</servlet-name>
        <servlet-class>com.servlet.GetStudentInformationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetStudentInformationServlet</servlet-name>
        <url-pattern>/GetStudentInformationServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SigninServlet</servlet-name>
        <servlet-class>com.servlet.SigninServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SigninServlet</servlet-name>
        <url-pattern>/SigninServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentCheckTeamServlet</servlet-name>
        <servlet-class>com.servlet.StudentCheckTeamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentCheckTeamServlet</servlet-name>
        <url-pattern>/StudentCheckTeamServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>com.servlet.DownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCompanyInformationServlet</servlet-name>
        <servlet-class>com.servlet.GetCompanyInformationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCompanyInformationServlet</servlet-name>
        <url-pattern>/GetCompanyInformationServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCompanyTeacherInformationServlet</servlet-name>
        <servlet-class>com.servlet.GetCompanyTeacherInformationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCompanyTeacherInformationServlet</servlet-name>
        <url-pattern>/GetCompanyTeacherInformationServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetSchoolTeacherInformationServlet</servlet-name>
        <servlet-class>com.servlet.GetSchoolTeacherInformationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSchoolTeacherInformationServlet</servlet-name>
        <url-pattern>/GetSchoolTeacherInformationServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetPracticeInformationServlet</servlet-name>
        <servlet-class>com.servlet.GetPracticeInformationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPracticeInformationServlet</servlet-name>
        <url-pattern>/GetPracticeInformationServlet</url-pattern>
    </servlet-mapping>
</web-app>